@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Color palette */
  --black: #121212; 
  --white: #FAFAFA;
  --red-light: #EBB5B5;
  --red: #CC0000;
  --red-dark: #720000;
  --gray-100: #EEECEC;
  --gray-200: #EEEEEE;
  --gray-300: #C2C2C2;
  --gray-600: #595858;
  --gray-800: #1B242B;
  --gray-950: #121212;
  --blue: #60A9FF;
  --blue-dark: #0F57AC;

  color-scheme: light dark;
  color: var(--black);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: --blue;
  text-decoration: inherit;
}
a:hover {
  color: var(--blue-dark);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--white);
  background-color: var(--gray-300);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--blue-dark);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--black);
    background-color: var(--white);
  }
  a:hover {
    color: var(--blue-dark);
  }
  button {
    background-color: var(--gray-200);
  }
}

@keyframes autoscrollX {
  0% {
    transform: translateX(0);
  }
  2% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.autoscrollX {
  animation: autoscrollX 50s linear infinite;
}
