@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Color palette */
  --black: #121212; 
  --white: #FAFAFA;
  --red-light: #EBB5B5;
  --red: #CC0000;
  --red-dark: #720000;
  --gray-100: #EEECEC;
  --gray-200: #EEEEEE;
  --gray-300: #C2C2C2;
  --gray-600: #595858;
  --gray-800: #1B242B;
  --gray-950: #121212;
  --blue: #60A9FF;
  --blue-dark: #0F57AC;

  color-scheme: light dark;
  color: var(--black);
  background-color: var(--gray-100);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #app, #app>div {
  width: auto;
  height: auto;
  margin: 0;
}

body {
  display: flex;
  min-width: 100vw; /* so the body extends almost the full width of the page */
  min-height: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--black);
    background-color: var(--white);
  }
  a:hover {
    color: var(--blue-dark);
  }
  button {
    background-color: var(--gray-200);
  }
}

@keyframes autoscrollX {
  0% {
    transform: translateX(0%);
  }
  5% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.autoscrollX {
  animation: autoscrollX 50s linear infinite;
}

@keyframes collapseDown {
  0% {
    overflow: hidden;
    max-height: 0px;
  }
  100% {
    transform: scaleY(100%);
    max-height: 400px;
  }
}

.collapseDown {
  animation: collapseDown 2s linear ease-in-out;
}

@keyframes collapseUp {
  0% {
    overflow: hidden;
    max-height: 400px;
  }
  100% {
    transform: scaleY(0%);
    max-height: 0px;
    display: hidden;
  }
}

.collapseUp {
  animation: collapseUp 2s linear ease-in-out;
}

@keyframes collapseLeft {
  0% {
    overflow: hidden;
    max-width: 100px;
  }
  100% {
    transform: scaleY(100%);
    max-width: 100%;
  }
}

.collapseLeft {
  animation: collapseLeft 2s linear ease-in-out;
}
